<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mentadev.zoometa">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zoometa"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UI.activities.DeliveryNoteDetailsActivity"
            android:label="@string/title_activity_delivery_note_details"

            android:theme="@style/Theme.Zoometa.NoActionBar">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />


        <activity
            android:name=".UI.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Zoometa.NoActionBar" />
        <activity
            android:name=".UI.activities.LandingActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Zoometa.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Zoometa.NoActionBar" />
        <activity
            android:name=".UI.activities.ScanPreview"
            android:label="@string/app_name"
            android:theme="@style/Theme.Zoometa.NoActionBar" />
        <activity
            android:name=".UI.activities.ScanActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Zoometa.NoActionBar" />
    </application>

</manifest>